@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* MN Glanzwerk Brand-Farben */
  --color-brand: #114c68;         /* Hauptblau */
  --color-brand-soft: #2a6f94;    /* etwas heller */
  --color-brand-accent: #38bdf8;  /* Glanz */
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}
